<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="Cache-Control" content="no-cache" />
<meta content="telephone=no" name="format-detection" />
<meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=0">
<meta name="apple-mobile-web-app-capable" content="yes" />
<title>河洛泡泡-网站首页</title>
<link rel="stylesheet" type="text/css" href="../css/base.css"/>
<link rel="stylesheet" type="text/css" href="../css/index.css"/>
<link rel="stylesheet" type="text/css" href="../css/aui.css"/>
<link rel="stylesheet" type="text/css" href="../css/aui-slide.css"/>

<script data-main="../js/index" src="../lib/require-min.js" ></script>

</head>
<body>
	
	
<header id="header">
	
</header>


	<div id="aui-slide">
		<div class="aui-slide-wrap" >
			<div class="aui-slide-node">
				<img src="../images/banner001.jpg" />
			</div>
			<div class="aui-slide-node">
				<img src="../images/banner002.jpg" />
			</div>
			<div class="aui-slide-node">
				<img src="../images/banner003.jpg" />
			</div>
		</div>
		<div class="aui-slide-page-wrap"><!--分页容器--></div>
	</div>
<div class="class_icon mt15">
<ul>
<li><a href=""><span class="index_icon class_icon01 db"></span><span class="class_name db">骑行</span></a></li>
<li><a href=""><span class="index_icon class_icon02 db"></span><span class="class_name db">徒步</span></a></li>
<li><a href=""><span class="index_icon class_icon03 db"></span><span class="class_name db">自驾</span></a></li>
<li><a href=""><span class="index_icon class_icon04 db"></span><span class="class_name db">漂流</span></a></li>
<li><a href=""><span class="index_icon class_icon00 db"></span><span class="class_name db">更多</span></a></li>
</ul>
</div>



<div class="index_info_list ms-controller" ms-controller="indexVC" id="indexVC">
<ul>
<li>
<a href="event_info.html"><img src="../images/temp/a01.jpg" border="0"></a>
<h3><a href="event_info.html">相约小浪底体验中原地区首个森林氧吧山地车主题</a></h3>
<div class="index_list_time f14">时间：2016-06-09<span class="index_list_time_no">1天</span></div>
<div class="index_list_no">12306</div><span class="a_price">￥60</span>
</li>
<li>
<a href="event_info.html"><img src="../images/temp/a02.jpg" border="0"></a>
<h3><a href="event_info.html">爱在洛阳—“万人相亲会”5月21日等你来！</a></h3>
<div class="index_list_time f14">时间：2016-06-09<span class="index_list_time_no">1天</span></div>
<div class="index_list_no">12306</div><span class="a_price">￥60</span>
</li>
<li>
<a href="event_info.html"><img src="../images/temp/a03.jpg" border="0"></a>
<h3><a href="event_info.html">月22日周日《大河报骑行俱乐部》邀你参观</a></h3>
<div class="index_list_time f14">时间：2016-06-09<span class="index_list_time_no">1天</span></div>
<div class="index_list_no">12306</div><span class="a_price">￥90</span>
</li>
<li>
<a href="event_info.html"><img src="../images/temp/a02.jpg" border="0"></a>
<h3><a href="event_info.html">《极限户外洛阳唐朝车队》周六发队段家沟水库</a></h3>
<div class="index_list_time f14">时间：2016-06-09<span class="index_list_time_no">1天</span></div>
<div class="index_list_no">12306</div><span class="a_price">￥320</span>
</li>
<li>
<a href="event_info.html"><img src="../images/temp/a04.jpg" border="0"></a>
<h3><a href="event_info.html">5月29日周日自驾小沟背一日游活动特价仅需29元</a></h3>
<div class="index_list_time f14">时间：2016-06-09<span class="index_list_time_no">1天</span></div>
<div class="index_list_no">12306</div><span class="a_price">免费</span>
</li>
<li>
<a href="event_info.html"><img src="../images/temp/a01.jpg" border="0"></a>
<h3><a href="event_info.html">相约小浪底体验中原地区首个森林氧吧山地车主题</a></h3>
<div class="index_list_time f14">时间：2016-06-09<span class="index_list_time_no">1天</span></div>
<div class="index_list_no">12306</div><span class="a_price">￥60</span>
</li>
</ul>
</div>





<div class="page_load"><span class="fl" style="margin-top:6px;"><img src="../images/loadding.gif" width="25" height="25"></span><span class="fl">信息加载中...</span><div class="clear"></div></div>
</body>







</html>
