<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="Cache-Control" content="no-cache" />
<meta content="telephone=no" name="format-detection" />
<meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=0">
<meta name="apple-mobile-web-app-capable" content="yes" />
<title>会员登录-河洛泡泡</title>
<link rel="stylesheet" type="text/css" href="../css/base.css"/>
<link rel="stylesheet" type="text/css" href="../css/index.css"/>
<link rel="stylesheet" type="text/css" href="../css/aui.css"/>
<link rel="stylesheet" type="text/css" href="../css/info.css"/>

<script data-main="../js/login" src="../lib/require-min.js" ></script>

</head>

<body ms-controller="loginVC" id="loginVC">
	
	
<header class="page_header" id="header">
 
</header>

<form id="loginForm" ms-validate="@lginvalidate">
	
<div class="form_group mt10">	
<ul>
<li><em class="sign_up_mob db"></em>

<input id="mobile" ms-rules='{required:true,pattern:/0?(13|15|18|17)[0-9]{9}/}' ms-duplex="@mobile" data-required-message="请输入你的手机号" data-message="请输入正确的手机号" maxlength="11" style="ime-mode:disabled;" name="mobile" type="tel" placeholder="请输入手机号" class="login_text"/>

</li>
<li><em class="sign_up_pwd db"></em>

<input id="password" ms-rules='{required:true,minlength:6,maxlength:18}' ms-duplex="@password" data-required-message="请输入登录密码" data-message="密码长度为6-18位" name="paddword" type="password" placeholder="请输入密码" class="login_text"/>

</li>
</ul>
</div>
<div class="form_group_btn"><button onclick="return checkLogin();">登录</button></div>

</form>

<div class="reg_link mb35"><a href="">忘记密码?</a><a href="" class="fr">手机快速注册</a><div class="clear"></div></div>

<!--
<div class="login_line"><span class="db">使用以下账号登录</span></div>
<div class="login_icon">
<ul>
<li><a href=""><span class="wx_login_icon db"></span></a></li>
<li><a href=""><span class="qq_login_icon db"></span></a></li>
</ul>
<div class="clear"></div>
</div>
-->

</body>
</html>
